<div class="my-body">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'navbar-transparent': !windowScrolled}">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/homepage">
          PIS Restaurant
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleSidebar()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation"
           [ngClass]="{'navbar-align-right' : isTablet()}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Facebooku" href="https://www.facebook.com/FIT.VUT/">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Instagramu" href="https://www.instagram.com/fit.vut/">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/homepage" class="nav-link">Hlavní stránka</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="btn btn-round">Přihlášení</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="btn btn-round btn-danger">Registrace</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header custom-page-header">
    <div class="filter"></div>
    <div class="container">
      <div class="row forms">
        <div class="col-xl-6 max-width-authentication mlr-auto">
          <div class="card card-register">
            <h3 class="title mx-auto">{{createReservationConstants.CREATE_RESERVATION}}</h3>
            <form name="form"
                  #f1="ngForm"
                  (ngSubmit)="f1.form.valid && isDateRight() && isTimeInOpeningHours() &&
                  isTimeRight() && isHostsCountRight() && isTimeBeforeClosing() &&
                  sendNewReservationData()">
              <label for="email"><i class="fa fa-envelope"></i>Emailová adresa<span class="mandatory">*</span></label>
              <input id="email"
                     name="email"
                     placeholder="Email"
                     class="form-control"
                     type="text"
                     [(ngModel)]="reservation.hostInfo.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid' : f1.submitted && email.invalid }"
                     required
                     email/>
              <div *ngIf="f1.submitted && email.invalid" class="invalid-message">
                <div class="invalid-form-value" *ngIf="email.errors?.required; else emailStructure">
                  {{ createReservationConstants.REQUIRED_FIELD}}
                </div>
              </div>

              <label for="name"><i class="fa fa-user"></i>Jméno<span class="mandatory">*</span></label>
              <input id="name"
                     name="name"
                     class="form-control"
                     placeholder="Jméno"
                     type="text"
                     [(ngModel)]="reservation.hostInfo.name"
                     #name="ngModel"
                     [ngClass]="{ 'is-invalid' : f1.submitted && name.invalid }"
                     required/>
              <div *ngIf="f1.submitted && name.invalid" class="invalid-message">
                <div class="invalid-form-value" *ngIf="name.errors?.required">
                  {{ createReservationConstants.REQUIRED_FIELD}}
                </div>
              </div>

              <label for="surname"><i class="fa fa-user"></i>Příjmení<span class="mandatory">*</span></label>
              <input id="surname"
                     name="surname"
                     class="form-control"
                     placeholder="Příjmení"
                     type="text"
                     [(ngModel)]="reservation.hostInfo.surname"
                     #surname="ngModel"
                     [ngClass]="{ 'is-invalid' : f1.submitted && surname.invalid }"
                     required/>
              <div *ngIf="f1.submitted && surname.invalid" class="invalid-message">
                <div class="invalid-form-value" *ngIf="surname.errors?.required">
                  {{ createReservationConstants.REQUIRED_FIELD}}
                </div>
              </div>

              <div class="row">
                <div [ngClass]="isMobile() ? 'col-md-6' : 'col-6'">
                  <label for="date"><i class="far fa-calendar-alt"></i>Datum rezervace<span class="mandatory">*</span></label>
                  <input id="date"
                         name="date"
                         class="form-control"
                         placeholder=""
                         type="date"
                         [(ngModel)]="reservation.reservationInfo.date"
                         #date="ngModel"
                         [ngClass]="{ 'is-invalid' : f1.submitted && (date.invalid || !isDateRight()) }"
                         required/>
                  <div *ngIf="f1.submitted && (date.invalid || !isDateRight())" class="invalid-message">
                    <div class="invalid-form-value" *ngIf="date.errors?.required; else badDate">
                      {{ createReservationConstants.REQUIRED_FIELD}}
                    </div>
                  </div>
                </div>
                <div [ngClass]="isMobile() ? 'col-md-6' : 'col-6'">
                  <label for="time"><i class="far fa-clock"></i>Čas rezervace<span class="mandatory">*</span></label>
                  <input id="time"
                         name="time"
                         class="form-control"
                         placeholder=""
                         type="time"
                         [(ngModel)]="reservation.reservationInfo.time"
                         #time="ngModel"
                         [ngClass]="{ 'is-invalid' : f1.submitted && (time.invalid || !isTimeInOpeningHours() || !isTimeRight()) }"
                         required/>
                  <div *ngIf="f1.submitted && (time.invalid || !isTimeRight())" class="invalid-message">
                    <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime">
                      {{ createReservationConstants.REQUIRED_FIELD}}
                    </div>
                  </div>
                  <div *ngIf="f1.submitted && (time.invalid || !isTimeInOpeningHours())" class="invalid-message">
                    <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime2">
                    </div>
                  </div>
                  <div *ngIf="f1.submitted && (time.invalid || !isTimeBeforeClosing())" class="invalid-message">
                    <div class="invalid-form-value" *ngIf="time.errors?.required; else badTime3">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div [ngClass]="isMobile() ? 'col-md-6' : 'col-6'">
                  <label for="hosts"><i class="fas fa-users"></i>Počet hostů<span class="mandatory">*</span></label>
                  <input id="hosts"
                         name="hosts"
                         class="form-control"
                         placeholder=""
                         type="number"
                         [(ngModel)]="reservation.reservationInfo.hostsCount"
                         #hostsCount="ngModel"
                         [ngClass]="{ 'is-invalid' : f1.submitted && (hostsCount.invalid || !isHostsCountRight()) }"
                         required/>
                  <div *ngIf="f1.submitted && (hostsCount.invalid || !isHostsCountRight())" class="invalid-message">
                    <div class="invalid-form-value" *ngIf="hostsCount.errors?.required; else badHostsCount">
                      {{ createReservationConstants.REQUIRED_FIELD}}
                    </div>
                  </div>
                </div>
                <div [ngClass]="isMobile() ? 'col-md-6' : 'col-6'">
                  <label for="visit-time"><i class="fas fa-question"></i>V restauraci se zdržím/e<span class="mandatory"></span></label>
                  <select id="visit-time" [(ngModel)]="reservation.reservationInfo.expectedLength" name="inRestaurant"
                          class="form-control form-select">
                    <option *ngFor="let timeIn of createReservationConstants.TIME_IN_RESTAURANT" [value]="timeIn.value">
                      {{ timeIn.viewValue }}
                    </option>
                  </select>
                </div>
              </div>

              <button type="submit" id="submitButton"
                      class="btn btn-danger btn-block btn-round">Vytvořit rezervaci</button>
            </form>
          </div>
        </div>
        <div class="col-xl-6 max-width-authentication mlr-auto">
          <div class="card card-register">
            <h3 class="title mx-auto">Zrušení rezervace</h3>
            <form name="form"
                  #f2=ngForm
                  (ngSubmit)="f2.form.valid && sendCodeForDeleteReservation()"
                  novalidate>
              <label for="code"><i class="fa fa-key"></i>Kód pro zrušení rezervace<span class="mandatory">*</span></label>
              <input
                id="code"
                name="code"
                placeholder="Vložte kód"
                class="form-control"
                type="text"
                [(ngModel)]="codeForDelete.code"
                #name="ngModel"
                [ngClass]="{ 'is-invalid' : f2.submitted && name.invalid }"
                required/>
              <div *ngIf="f2.submitted && name.invalid" class="invalid-message">
                <div class="invalid-form-value" *ngIf="name.errors?.required">
                  Toto pole je povinné
                </div>
              </div>
              <button type="submit" class="btn btn-danger btn-block btn-round">
                Odeslat
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer register-footer text-center">
      <h6>PIS Restaurant</h6>
    </div>
  </div>
</div>
<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ createReservationConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>

<ng-template #badDate>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_DATE }}
  </span>
</ng-template>

<ng-template #badHostsCount>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_HOST_COUNT }}
  </span>
</ng-template>

<ng-template #badTime>
  <span class="invalid-form-value">
    {{ createReservationConstants.BAD_TIME }}
  </span>
</ng-template>

<ng-template #badTime2>
  <span class="invalid-form-value">
    {{ createReservationConstants.TIME_IS_NOT_IN_OPENING_HOURS }}
  </span>
</ng-template>

<ng-template #badTime3>
  <span class="invalid-form-value">
    {{ createReservationConstants.RESERVATION_BEFORE_CLOSING_TIME }}
  </span>
</ng-template>
