<div class="row" *ngIf="this.dataLoaded">
  <div class="col-md-12">
    <div class="card mlr-auto max-with-categories">
      <div class="card-header">
        <h4 class="card-title">{{ menuConstants.CATEGORY }}</h4>
        <hr>
      </div>
      <div class="card-actions-top">
        <div class="row">
          <div class="col-sm-8">
            <label for="new_cat">Název nové kategorie<span class="mandatory">*</span></label>
            <input id="new_cat"
                   name="new_cat"
                   class="form-control"
                   type="text"
                   [(ngModel)]="newCategoryName"
                   required>
          </div>
          <div class="col-sm-4 new-category-button">
            <button type="button"
                    (click)="sendAddCategory()"
                    class="btn btn-block btn-primary btn-fill">
              {{ menuConstants.ADD_CATEGORY }}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="this.categories.length === 0">
        <div class="row">
          <div class="col-sm-12">{{ menuConstants.NO_CATEGORIES_IN_DB}}</div>
        </div>
      </div>
      <div class="card-body table-full-width table-responsive custom-card-body no-padding-sm-scr"
           *ngIf="this.categories.length !== 0">
        <table class="table table-hover table-striped table-without-margin">
          <tbody class="cell-padding">
          <tr *ngFor="let category of this.categories">
            <td class="table-content">
              {{category}}
            </td>
            <td class="action-button">
              <button type="button"
                      (click)="sendDeleteCategory(category)"
                      class="btn btn-danger btn-fill btn-social">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
