.grids-container {
  .my-grid {
    display: grid;
    border: black;
    padding: 10px 15px;
    cursor: pointer;

    .grid-cell {
      align-self: center;
      color: #9A9A9A;
    }
  }

  .grid-bill {
    grid-template-columns: 65px auto 60px;;
    grid-template-areas: 'grammage name price' '. state action-button';
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
  }

  .grid-meals {
    grid-template-columns: 65px auto 60px;
    grid-template-areas: 'grammage name price';
    grid-column-gap: 10px;
  }
}

.grammage {
  grid-area: grammage;
  justify-self: left;
}

.name {
  grid-area: name;
  justify-self: left;
}

.price {
  grid-area: price;
  justify-self: right;
}

.state {
  grid-area: state;
  font-weight: bold;
}

.action-button {
  grid-area: action-button;
  justify-self: right;
}

.custom-header {
  background-color: white;
  padding: 15px;
  text-align: center;
}
