<div class="my-body">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'navbar-transparent': !windowScrolled}">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/homepage#">
          PIS Restaurant
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleSidebar()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation"
           [ngClass]="{'navbar-align-right' : isTablet()}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Facebooku" href="https://www.facebook.com/FIT.VUT/">
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Sledujte nás na Instagramu" href="https://www.instagram.com/fit.vut/">
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/homepage" class="nav-link">Hlavní stránka</a>
          </li>
          <li class="nav-item">
            <a routerLink="/reservations/new" class="nav-link">Rezervace</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="btn btn-round">Přihlášení</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header custom-page-header">
    <div class="filter"></div>
    <div class="container">
      <div class="row forms">
        <div class="col-lg-12 mlr-auto max-width-authentication">
          <div class="card card-register">
            <h3 class="title mx-auto">Zaregistrujte se</h3>
            <form name="form"
                  #f="ngForm"
                  class="register-form"
                  (ngSubmit)="f.form.valid && arePasswordsSame() && sendRegisterData()"
                  novalidate>
              <label for="name"><i class="fa fa-user"></i>Křestní jméno<span class="mandatory">*</span></label>
              <input id="name"
                     name="name"
                     class="form-control"
                     placeholder="Jméno"
                     type="text"
                     [(ngModel)]="user.name"
                     #name="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && name.invalid }"
                     required/>
              <div *ngIf="f.submitted && name.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="name.errors?.required">
                  {{ registerConstants.REQUIRED_FIELD }}
                </div>
              </div>

              <label for="surname"><i class="fa fa-user"></i>Příjmení<span class="mandatory">*</span></label>
              <input id="surname"
                     name="surname"
                     class="form-control"
                     placeholder="Příjmení"
                     type="text"
                     [(ngModel)]="user.surname"
                     #surname="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && surname.invalid }"
                     required/>
              <div *ngIf="f.submitted && surname.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="surname.errors?.required">
                  {{ registerConstants.REQUIRED_FIELD }}
                </div>
              </div>

              <label for="email"><i class="fa fa-envelope"></i>Emailová adresa<span class="mandatory">*</span></label>
              <input id="email"
                     name="email"
                     class="form-control"
                     placeholder="Email"
                     type="email"
                     [(ngModel)]="user.email"
                     #email="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && email.invalid }"
                     required
                     email/>
              <div *ngIf="f.submitted && email.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="email.errors?.required; else emailStructure">
                  {{ registerConstants.REQUIRED_FIELD }}
                </div>
              </div>

              <label for="password"><i class="fa fa-lock"></i>Zadejte heslo<span class="mandatory">*</span></label>
              <input id="password"
                     name="password"
                     class="form-control"
                     placeholder="Heslo"
                     type="password"
                     [(ngModel)]="user.password"
                     #password="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && password.invalid }"
                     required
                     minlength="5"/>
              <div *ngIf="f.submitted && password.invalid"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="password.errors?.required; else passwordTooShort">
                  {{ registerConstants.REQUIRED_FIELD }}
                </div>
              </div>

              <label for="repeatedPassword"><i class="fa fa-lock"></i>Zopakujte heslo<span class="mandatory">*</span></label>
              <input id="repeatedPassword"
                     name="repeatedPassword"
                     class="form-control"
                     placeholder="Zopakovat heslo"
                     type="password"
                     [(ngModel)]="repeatedPasswordModel"
                     #repeatedPassword="ngModel"
                     [ngClass]="{ 'is-invalid' : f.submitted && (repeatedPassword.invalid || !arePasswordsSame())}"
                     required/>
              <div *ngIf="f.submitted && (repeatedPassword.invalid || !arePasswordsSame())"
                   class="invalid-message">
                <div class="invalid-form-value"
                     *ngIf="repeatedPassword.errors?.required; else passwordsNotSame">
                  {{ registerConstants.REQUIRED_FIELD }}
                </div>
              </div>

              <button type="submit" id="submitButton" class="btn btn-danger btn-block btn-round">
                {{ registerConstants.CREATE_ACCOUNT_BUTTON }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer register-footer text-center">
      <h6>PIS Restaurant</h6>
    </div>
  </div>
</div>
<ng-template #emailStructure>
  <span class="invalid-form-value">
    {{ registerConstants.WRONG_EMAIL_FORMAT }}
  </span>
</ng-template>

<ng-template #passwordsNotSame>
  <span class="invalid-form-value">
    {{ registerConstants.PASSWORDS_NOT_SAME }}
  </span>
</ng-template>

<ng-template #passwordTooShort>
  <span class="invalid-form-value">
    {{ registerConstants.PASSWORD_TOO_SHORT }}
  </span>
</ng-template>
