
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="location.path()"> {{getTitle()}} </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" (click)="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!--  navbar left -->
<!--      <ul class="nav navbar-nav mr-auto">-->
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">-->
<!--            <i class="nc-zoom-split"></i>-->
<!--            <span class="d-lg-block">&nbsp;Search</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
      <!--  navbar right -->
      <ul class="navbar-nav ml-auto">
        <!-- unlogged user -->
        <ng-container *ngFor="let navbarItem of navbarItems">
          <li class="nav-item" *ngIf="routes.isAccessibleByCurrentUser(navbarItem.showInNavbar)">
            <a class="nav-link" [routerLink]="[navbarItem.path]"
              (click)="updateSidebarBackground(navbarItem.sidebarBackground); navbarItem.path === '/login' && logout()">
              <i class="{{navbarItem.icon}}"></i>
              <span class="d-lg-block">{{navbarItem.title}}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
